body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
/*    background: url('/static/NES_Controller_Phonebg.png'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px -20px; 
}

.login { 
    border: 1px solid black;
    text-align: center;
}

.queue {
    text-align: center;
}

.hidden {
    display: none;
}

.canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 183px;
    position: relative;
    left: -8px;

}
