body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
/*    background: url('/static/NES_Controller_Phonebg.png'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 0px -20px;
    background-color: #cfcfcf;
    color: #181818;
}

h1 {
  font-family: 'Teko';
  font-size: 35pt;
}

h2 {
  font-family: 'Teko';
  font-size: 30pt;
  padding-bottom:0;
  margin-bottom:0;
}
.btn {
  background-color: #4ec48f;
  font-family: 'Teko';
  color: #ffffff;
  font-size: 30px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  width: 80%;
  height:50px;
  border: 0;
}

.bottom {
  position:relative;
  bottom: 0px;
}

#username {
  width:80%;
  padding: 10px 20px 10px 20px;
  border: 0;
  height:50px;
  margin-bottom: 20px;
  margin-top:    50px;
}

.login { 
    margin-top: 50px;
    text-align: center;
}

.queue {
    text-align: center;
  font-family: 'Teko';
  font-size: 35pt;
}


.won {
    text-align: center;
  font-family: 'Teko';
  font-size: 35pt;
}

.won h1 {
	margin-bottom: 0;
}

.won h2 {
	margin-top: 0;
}

.hidden {
    display: none;
}

.canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: 15px;
    display: block;
    margin-top: 183px;
    position: relative;
    left: -8px;

}


div.upload {
    width: 150px;
    height: 150px;
    overflow: hidden;
    background-color: #4ec48f;
    margin-left: auto;
    margin-right: auto;
    background: url('/static/Shutter_Button.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}

div.upload input {
    display: block !important;
    width: 100% !important;
    height: 100px !important;
    opacity: 0 !important;
    overflow: hidden !important;
    
}
div.upload #hack {
    background: url('/static/Shutter_Button.png');
    position: relative;
    top:0px;
    left:0px;
}
