#mainwindow {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 320px;
	bottom: 0px;
}

#sidebar {
	font-family: 'Ropa Sans', sans-serif;
	position: fixed;
	top: 0px;
	left: 1600px;
	right: 0px;
	bottom : 0px;
	background: #BBB;
}

#topbar {
	font-family: 'Ropa Sans', sans-serif;
	background: rgba(0,0,0,0.7);
	padding: 13px 15px 13px 240px;	
	height: 124px;
	line-height: 60px;	
}

#game {
	position: absolute;
	top: 150px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	background: url('/static/floor.png') no-repeat top left;
	background-size: cover;
}

#queue .header {
	font-size: 35px;
	color: #FFF;
	font-weight: bold;
	padding: 10px 15px;	
}

#qr {
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 355px;
	color: #FFF;
	font-size: 45px;
	padding: 0px 0px 20px 0px;
}

#qr img {
	max-height: 280px;
}

#qr span {
	color: #000;
	font-size: 20px;
	display: block;
	position: relative;
	top: 0px;
}

#queue .none, #queue .next {
	display: none;
}

#queue.empty .none {
	display: block;
	text-align: center;
	padding-top: 200px;
	padding: 200px 20px 0px 20px;
	font-size: 35px;
}

#queue.full .next {
	display: block;
}

#game .beerglass {
	border-radius: 100%;
	background: #FF0000;
	position: absolute;
	box-shadow: 1px 2px 6px rgba(0,0,0,0.6);
	background: url('/static/beer2.png') no-repeat center center;
	background-size: 100% 100%;
}

#game div:nth-of-type(3n) {
	background: url('/static/beer1.png') no-repeat center center;
	background-size: 100% 100%;
}

.table {
	background: url('/static/table.png') no-repeat center center;
	box-shadow: 0px 0px 25px rgba(0,0,0,0.9);
}

.player {
	float: left;
	color: #FFF;
	font-size: 18px;
	width: 35%;
	box-sizing: border-box;
	padding: 10px 0px 0px 0px;	
	text-align: center;
}

#player1 img {
	float: right;
	height: 110px;
	margin-left: 25px;
	margin-top: -5px;
	border-radius: 50%;
}

#player2 img {
	float: left;
	height: 110px;
	margin-right: 25px;
	margin-top: -5px;
	border-radius: 50%;
}

#player1 b, #player1 span {
	text-align: right;
}

#player2 b, #player2 span {
	text-align: left;
}

.vs {
	font-family: 'Ropa Sans', sans-serif;
	font-size: 120px;
	line-height: 110px;
	float: left;
	color: #FFF;
	width: 15%;
	text-align: center;
}

.player .name {
	font-size: 66px;
	display: block;
	font-weight: bold;
}

.player .score {
	display: block;
}

.player .score span {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 0px 3px;
	background: url('/static/crown-off.png') no-repeat center center;
	background-size: contain !important;
}

.player .score.score1 span:nth-of-type(1),
.player .score.score2 span:nth-of-type(1),
.player .score.score3 span:nth-of-type(1),
.player .score.score4 span:nth-of-type(1),
.player .score.score5 span:nth-of-type(1) {
	background: url('/static/crown-on.png') no-repeat center center;	
}

.player .score.score2 span:nth-of-type(2),
.player .score.score3 span:nth-of-type(2),
.player .score.score4 span:nth-of-type(2),
.player .score.score5 span:nth-of-type(2) {
	background: url('/static/crown-on.png') no-repeat center center;	
}

.player .score.score3 span:nth-of-type(3),
.player .score.score4 span:nth-of-type(3),
.player .score.score5 span:nth-of-type(3) {
	background: url('/static/crown-on.png') no-repeat center center;	
}

.player .score.score4 span:nth-of-type(4),
.player .score.score5 span:nth-of-type(4) {
	background: url('/static/crown-on.png') no-repeat center center;	
}

.player .score.score5 span:nth-of-type(5) {
	background: url('/static/crown-on.png') no-repeat center center;	
}

.queueMember {
	background: #9B9B9B;
	border-radius: 5px;
	border: 10px solid #9B9B9B;
	padding: 0px;
	margin-bottom: 10px;
	height: 36px;
	line-height: 36px;
	color: #FFF;
	font-family: 'Ropa Sans', sans-serif;
	font-size: 30px;
}

.queueMember img {
	float: left;
	max-height: 36px;
	margin-right: 10px;
	border-radius: 50%;
}

div.queueMember:nth-of-type(1) {
	border: 10px solid #F5A623;
}

.next {
	padding: 0px 26px;
	overflow: hidden;
	height: 500px;
}

#number {
	position: absolute;
	top: 370px;
	left: 155px;
	width: 100px;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	font-size: 80px;
	text-shadow: 0px 0px 3px rgba(0,0,0,1);
}

#overlay {
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 10;
	background: rgba(0,0,0,0.4);
	opacity: 0;
	-webkit-transition: opacity 0.3s;
}

#overlay.visible {
	opacity: 1;
}

#overlay .stripe {
	position: absolute;
	top: 50%;
	height: 120px;
	margin-top: -60px;
	left: 0px;
	right: 0px;
	text-align: center;
	font-size: 80px;
	line-height: 120px;
	font-weight: bold;
	background: rgba(0,0,0,0.6);
	font-family: 'Ropa Sans', sans-serif;
	color: #FFF;
}
